{
    "presets": [
        "env"
    ],
    "plugins": [
        [
            "transform-react-jsx",
            {
                "pragma": "m"
            }
        ],
        [
            "transform-runtime",
            {
                "regenerator": true
            }
        ]
    ]
}