.page-grid-feed{
    display: grid;
    height: 100vh;
    grid-template-rows: 66px auto 64px;
}

.chatFeed__wrapper{
    overflow-y: auto;
    max-width: var(--maxWidthOnPC);
    margin: 40px auto;

}