.optionsWrapper{
    overflow-y: auto;
     position: relative;
     max-height: 70vh;
}

.optionsWrapper--alone{
    max-height: none;
}

.subQuestionFav{
    position: absolute;
    top: 223px;
     right: -26px;
     opacity: 0.4;
}

.subQuestionFav:active, .subQuestionFav:hover{
    opacity: 1;
}
