.questionCard {
    user-select: none;
    cursor: pointer;
    border-radius: var(--roundBorder);
}

.questionCard__img{
    height: 150px;
    width: 100%;
}

.questionOwned{
    background: #ef4a497d;
}