.groupsWrapper {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-auto-rows: auto;
  margin-top:80px;
}

@media screen and (max-width: 1800px) {
  .groupsWrapper {
    grid-template-columns: repeat(4,1fr);
  }
}

@media screen and (max-width: 1400px) {
  .groupsWrapper {
    grid-template-columns: repeat(3,1fr);
  }
}

@media screen and (max-width: 1000px) {
  .groupsWrapper {
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (max-width: 480px) {
  .groupsWrapper {
    grid-template-columns: repeat(1,1fr);
  }
}