.groupsWrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  
  margin-top:80px;
}

@media screen and (max-width: 1000px) {
  .groupsWrapper {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 400px) {
  .groupsWrapper {
    grid-template-columns: auto;
  }
}