

.questionDescription__title{
   
    margin-bottom: var(--regPadding);
}

.questionDescription__text{
    color: var(--gray4);
    font-size: var(--size15);
    margin-bottom: var(--regPadding);
    line-height: 1.8rem;
    max-height: 25vh;
    overflow-y: auto;
}