.module {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    background: rgba(128, 128, 128, 0.61);
}

.moduleBox {
    max-width: 500px;
    margin: auto;
    position: relative;
    top: 10%;
    background: white;
    box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.459);
    border-radius: 10px;
    padding: 10px;
}

.moduleCreator {
    font-size: 1.2rem;
}

.moduleCreator>input {
    width: 20px;
    height: 20px;
    opacity: 0.75;
}

.moduleCreator>span {
    font-size: 1.5rem;
    color: var(--textheader);
}

.moduleTitle {
    text-align: center;
    width: 100%;
    color: var(--textHeader);
   
    font-weight: var(--textHeaderWeight);
}

