.module {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    background: rgba(128, 128, 128, 0.61);
}

.moduleBox {
    max-width: 500px;
    margin: auto;
    position: relative;
    top: 20%;
    background: white;
    box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.459);
    border-radius: 10px;
    padding: 10px;
}

.moduleTitle {
    text-align: center;
    width: 100%;
    color: var(--textHeader);
    font-size: var(--textHeaderSize);
    font-weight: var(--textHeaderWeight);
}

.moduleInputs {
    display: flex;
    flex-direction: column;
}

.moduleInputs>* {
    margin-bottom: 10px;
    resize: none;
}

.moduleDescription {
    height: 4rem;
}

.moduleQuestionTitle {
    border-bottom: 2px solid #f97676;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-family: 'Varela Round', sans-serif;
    opacity: 0.75;
}

.moduleButtons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modalMoreInfo{
    
    display: flex;
    flex-direction: column;
}