.page-grid-subQuestion{
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.subQuestionHeader {
    background:#1d3e4d;
    color: white;
    text-align: center;
    font-size: 1.5rem;
   
}

.subQuestionHeader .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subQuestionHeader img{
    /* width: 120px; */
    max-height: 120px;
}

.subQuestion__arrange{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    bottom: 64px;
}

.fav__subQuestion{
    bottom: 115px;
}