.page-grid-subQuestion {
    display: grid;
    grid-template-rows: fit-content(100px) auto 64px;
    height: 100%;
}

.subQuestionHeader {
    background: #1d3e4d;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0px 3px 9px #00000094;
    z-index: 100;

}

.questionSection h1 {
    text-align: center;
    font-size: var(--size17);
}

.subQuestionHeader .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subQuestionHeader img {
    /* width: 120px; */
    max-height: 120px;
}

.subQuestion__arrange {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    bottom: 0px;
    left: 0px;
    box-shadow: 0px -2px 6px #00000087;
}

.subQuestion__arrange--bottom {

    bottom: 0px;
}

.fav__subQuestion {
    bottom: 163px;
    right: 60px;
}



.emptyNav {
    background-color: var(--white);
    width: 100%;
}

.suggestionsWiz {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: #020202c7;
    z-index: 200;
}

.suggestionsWiz__box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
    background: white;
    padding: 10px 50px;
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.445);
    border-radius: var(--roundBorder);
}

.suggestionsWiz__box img {
    max-width: 500px;
    max-height: 63vh;
    border: 2px solid gray;
}

.suggestionsWiz__box button {
    height: 72px;
    width: 120px;
    text-align: center;
    justify-content: center;
    font-size: 24px;
}

.subQuestion__suggestions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.subQuestion__carousel {
    width: 100vw;
}

.subQuestion__column {
    background-color: rgb(149, 255, 255);
    overflow-y: auto;
    display: grid;
    grid-template-rows: auto 70px;
}

.subQuestion__carousel>main {
    width: 100vw;
    height: 100%;
}

@media only screen and (max-width: 1600px) {
    .subQuestion__carousel {
        width: 100vw;
    }

    .subQuestion__suggestions {

        grid-template-columns: repeat(4, 33.3333vw);

    }

    .subQuestion__carousel>main {
        width: 133.333vw;

    }
}

@media only screen and (max-width: 1200px) {
    .subQuestion__carousel {
        width: 100vw;
    }

    .subQuestion__suggestions {

        grid-template-columns: repeat(4, 50vw);

    }

    .subQuestion__carousel>main {
        width: 200vw;

    }
}


@media only screen and (max-width: 800px) {
    .subQuestion__carousel {
        width: 100vw;
    }

    .subQuestion__suggestions {

        grid-template-columns: repeat(4, 100vw);

    }

    .subQuestion__carousel>main {
        width: 400vw;

    }
}