.subQuestionHeader {
    background:var(--accent);
    color: white;
    text-align: center;
    font-size: 1.5rem;
   
}

.subQuestionHeader .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subQuestionHeader img{
    width: 120px;
    max-height: 120px;
}