.parallelOption{
    background-color: white;
    padding: var(--regPadding);
    margin-bottom: 5px;
    display: flex;

    &__confirm{
        width:50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__info{
        width: 100%;
    }
    &__title{
        font-size: var(--size17);
    }
    &__description{
        font-size: var(--size15);
        color: var(--gray1);
        padding-top: 12px;
    }
}