.grpupSection {
    background: white;
}



.groupSection__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

@media only screen and (max-width: 600px) {
    .groupSection__wrapper{
      
        grid-template-columns: repeat(1, 1fr);
    
    }
  }
  

.groupSection--over{
    background-color: wheat;
}