.subQuestionSection{
    border-radius: 10px;
    padding-bottom: 9px;
    height: 100%;
}

.questionSectionTitle {
    border-radius: 10px 10px 0px 0px;
    font-size: var(--textHeaderSize);
    color: white;
    background: #4f4dce;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subQuestion__question{
  
    /* background: var(--accent); */
    max-width: var(--maxWidthOnPC);
    color: var(--gray0);
    margin: auto;
    padding: var(--regPadding);
    border-radius: var(--roundBorder);
    font-size: var(--size17);
    text-align: center;
}


.subQuestionWrapper{
    width: 100%;
    overflow-y: auto;
    height: 100%;
 
}

.subQuestion__addOptionWrapper{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 20px;
}

.subQuestion__addOption{
    border-radius: 5px;
    border: 2px solid var(--gray1);
    padding: 4px 20px;
    user-select: none;
    cursor: pointer;
    width: fit-content;
    font-size: var(--size13);
    display: flex;
    align-items: center;
}

.subQuestion__question{
    
}