header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: var(--mainBackground);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    padding: 10px 0px;
    color: var(--mainColor);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    z-index: 4;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
}

.headerTitle {
    width: 100%;
}

.headerMessage {
    padding: 0px 0px 0px 8px;
}

.headerMesaggeCounter {
    position: absolute;
    top: 4px;
    left: 45px;
    transition: 0.3s all;
}

.headerBack {
    padding-left: 8px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerEmptyBack {
    width: 40px;
}

.headerSetFeed {
    margin-left: 5px;
}

.headerHamburger {
    padding: 0px 14px;
}