header {
   
    width: 100%;
    
    background: var(--white);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    padding: 10px 0px;
    color: var(--black);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    z-index: 4;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}
.header__wrap{
    display: flex;
}

.header__notifications{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 800px) {
    .header__notifications{
        margin-left: 100px;
    }
}

.notifications{
    border-radius: 20px;
    width: 70px;
    height: 30px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 24px;
    user-select: none;
    cursor: pointer;
    align-items: center;
}

.notifications img{
    width: 24px;
}

.notifications--on{
    background-color: var(--additional);
}

.notifications--off{
  
    background-color: var(--halfPrimary);
   
}

.header__title{
    display: flex;
    padding: 5px 0px;
    justify-content: center;

}
.header__title img{
    margin: 0px 10px;
    height: 30px;
    width: 30px;
}
.header__title div{
    font-size: 2rem;
}

@media only screen and (max-width: 800px) {
    .header__title div{
        font-size: 1.4rem;
    }
}



.headerMessage {
    padding: 0px 0px 0px 8px;
}

.headerMesaggeCounter {
    position: absolute;
    top: 4px;
    left: 45px;
    transition: 0.3s all;
}

.headerBack {
    padding-left: 8px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerEmptyBack {
    width: 40px;
}

.headerSetFeed {
    margin-left: 5px;
}

.headerHamburger {
    padding: 0px 14px;
}

.setButton{
    height: 32px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 16px;
    color: var(--white);
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
}

.setButton--activate{
    background-color: var(--halfPrimary);
}

.setButton--cancel{
    background-color: var(--additional);
    color: var(--gray1);
    font-size: 1rem;
}



