.feedBox {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 100;
    background: rgba(0, 0, 0, 0.377);
}

.hideFeedBox{
    display: none;
}

@keyframes hideFeedBox {
    from {
        transform: scale(1);
        top: 0%;
        left: 0%;
    }
    to {
        transform: scale(0);
        top: -47%;
        left: -47%;
    }
}

/* .showFeedBox {
    animation-name: showFeedBox;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
} */

@keyframes showFeedBox {
    from {
        transform: scale(0);
        top: -47%;
        left: -47%;
    }
    to {
        transform: scale(1);
        top: 0%;
        left: 0%;
    }
}

.feedWrapper {
    max-width: 550px;
    margin: 65px auto;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 24px 24px 48px rgba(0, 0, 0, 0.507);
    overflow-y: auto;
    max-height: 80vh;
}