.optionVote {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: all 200ms;

}

.optionVote__column {
    width: 50%;
    background: rgb(22, 133, 226);
    background: linear-gradient(90deg, rgba(22, 133, 226, 1) 0%, rgba(31, 132, 215, 1) 28%, rgba(43, 116, 177, 1) 51%, rgba(49, 136, 209, 1) 73%, rgba(59, 162, 247, 1) 100%);
    border-radius: 20px 20px 0px 0px;
    transition: all 1s;
}

.optionVote__percent{
    text-align: center;
}

.optionVote__button {
    background-color: #1b3d9b41;
    width: 80%;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin-top: 7px;
    user-select: none;
    cursor: pointer;
}


.optionVote__button--selected {
    background-color: #1b3d9b;
}