.questionsWrapper {
  display: flex;
  flex-direction: column;

  background: #e8e8e8;
  overflow-y: auto;
  
  box-sizing: border-box;
}

.questionsWrapper>*{
  height: fit-content;
}

.questionsWrapper h1 {
  font-size: var(--size17);
}


.questionsWrapper__inear {
  padding-bottom: 91px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}




.questionsWrapper>h1 {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .questionsWrapper__inear {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 480px) {
  .questionsWrapper__inear {
    grid-template-columns: repeat(1, 1fr);

  }

  .questionsWrapper>h1 {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
  }


}


.moduleInputs {
    display: flex;
    flex-direction: column;
}

.moduleInputs>* {
    margin-bottom: 10px;
    resize: none;
}

.moduleDescription {
    height: 4rem;
}

.moduleQuestionTitle {
    border-bottom: 2px solid #f97676;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-family: 'Varela Round', sans-serif;
    opacity: 0.75;
}

.moduleButtons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modalMoreInfo {
  display: flex;
  flex-direction: column;
}

gcloud projects add-iam-policy-binding delib-v3-dev \
    --member serviceAccount:delib-v3-dev@appspot.gserviceaccount.com \
    --role roles/datastore.importExportAdmin