aside {
    width: 250px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 102px;
    right: -260px;
    z-index: 3;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
    
    color: var(--black);
}

.topAside {
    height: 200px;
    background: var(--accent);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 2rem;
}

.topAside>p{
    padding-right: 10px;
}

.menuAside {
    height: 100%;
    background: var(--white);
}

.menuAside>div {
    border-bottom: 1px solid #c3c3c3;
    padding: 10px;
    cursor: pointer;
}

.asideOpen{
    right:-260px;
    animation: open 400ms;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
.asideClose{
    right: 0px;

    animation: close 400ms;
    animation-direction: normal;
    animation-fill-mode: forwards;
   
}

@keyframes open{
    from{
        right: -260px;
    }
    to{
        right:0px
    }
}

@keyframes close{
    from{
        right: 0px;
    }
    to{
        right:-260px
    }
}

