.description{
    max-width: var(--maxWidthOnPC);
    margin: var(--regPadding) auto;
    padding: var(--regPadding);
  
    font-size: var(--size15);
    border-radius: var(--roundBorder);
    box-sizing: border-box;
}
.description h1{
    font-size: var(--size17);
   
}
.description p{
    font-size: var(--size15);
    
}

.description textarea{
    width: calc(100% - 2*var(--regPadding));
    height: 16vh;
}

.description__text img{
    width: 100%;
}

.addVideo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    background: white;
    border-radius: var(--roundBorder);
    width: var(--maxWidthOnPC);
    box-sizing: border-box;
}

.addVideo b{
    color:black;
   
    animation: emphasize 0.4s ease-in-out 0s infinite alternate;
}

@keyframes emphasize {
    from {
        
        color: black;
    }
    to {
       
        color: rgb(220 220 220);
    }
  }

.addVideo__background{
    position: fixed;
    background-color: #00000099;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
.addVideo input{
    width: 95%;
    margin-bottom: 20px;
}