.page-grid-option{
    display: grid;
    grid-template-rows: fit-content(100px) auto 63px;
}

.optionPage__main{
    font-size: var(--size17);
    width:100vw;
    padding-bottom: 200px;
}

.optionPage__main>h2{
    font-size: var(--size15);
    padding: 0px 20px;
}