.navTop {
    position: relative;
    background-color: #fbfbfb;
    width: 100%;
    height: fit-content;
    display: flex;
    z-index: -1;

}

.navTop__btn {
    position: relative;
    flex: 1;
    display: flex;

    justify-content: center;
    text-align: center;
    font-size: var(--size15);
    color: var(--black);
    color: var(--gray1);
    user-select: none;
    cursor: pointer;
    padding: 10px 2px;
}

.navTop__btn .counter {
    position: absolute;
    top: 0px;
    left: 50%;
    background: var(--primary);
    color: white;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: .75rem;
    transform: translate(-46px, 0px);
}

.navTop__btn--selected {
   
    color: var(--black);
    /* background-color: #e6e6e6; */
    border-bottom: 3px solid var(--primary);
    box-sizing: border-box;
}