.reactionsBars {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.reactionsBar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    max-height: 100%;
    margin: 0px 10px;
    border-radius: 10px 10px 0px 0px;
    font-size: 3rem;
    
}

.reactionsBar--positive {
    background: rgb(41, 206, 41);
}

.reactionsBar--negative {
    background: rgb(206, 41, 63);
}