:root {
    --mainBackground: #f14a4a;
    --subBackground: #ee7171;
    --mainColor: white;
    --accent: blue;
    --textHeader: rgba(0, 0, 0, 0.78);
    --textHeaderSize: 1.3rem;
    --textHeaderWeight: 600;
    --textSubHeader: rgba(0, 0, 0, 0.68);
    --textHeaderSize: 1.1rem;
    --textHeaderSubTitleSize: 1rem;
    --textRegular: rgba(0, 0, 0, 0.55);
    --textRegularSize: 1rem;
    --maxWidthOnPC:550px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
}

body {
    direction: rtl;
}

.page {
    width: 100%;
    height: 100%;
}

.wrapperAll {
    position: relative;
    margin: auto;
    max-width: var(--maxWidthOnPC);
    padding: 10px;
}

.wrapper {
    max-width: var(--maxWidthOnPC);
    margin: 20px auto 20px auto;
    position: relative;
    z-index: 2;
}

.card {
    background: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    direction: rtl;
    padding: 10px;
    margin: 5px;
}

.cardTitle {
    color: var(--textHeader);
    font-size: var(--textHeaderSize);
    font-weight: var(--textHeaderWeight);
    margin-bottom: 10px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.cardDescription {
    color: var(--textSubHeader);
    font-size: var(--textSubHeaderSize);
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none;
}

.centerElement {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerInput {
    max-width: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}

.newElementShow {
    animation-name: showUp;
    animation-duration: 1s;
}

@keyframes showUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.headers {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 900;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 100;
}

.navSubHeaders {}

.cardsContainer {
    margin-top: 85px;
}

/*  Buttons */

.buttons {
    width: max-content;
    padding: 12px 25px;
    margin: 5px 10px;
    background: teal;
    border-radius: 5px;
    /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); */
    user-select: none;
    cursor: pointer;
}

.buttons:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.buttonOutlineWhite {
    background: none;
    border: 1px solid white;
}

.buttonOutlineWhite:active {
    background: rgba(255, 255, 255, 0.191);
}

.confirm {
    background: #51d051;
}

.cancel {
    background: #e85353;
}

.negative {
    color: red;
}

.fav {
    background: var(--accent);
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 6vw;
    bottom: 6vh;
    border-radius: 50%;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    user-select: none;
    cursor: pointer;
    z-index: 5;
}

.fav:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fav>div {
    color: white;
    text-align: center;
    font-size: 3rem;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0%;
    width: 100%;
    background: var(--subBackground);
    color: white;
    display: flex;
    justify-content: stretch;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.5);
    z-index: 4;
}

.footerButton {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    padding: 11px;
}

.footerButtonSelected {
    background: var(--mainBackground);
}

.checkBoxes [type="checkbox"] {
    transform: scale(1.5);
    margin-left: 10px;
}

.checkBoxes label {
    font-size: 1.5rem;
    margin-left: 20px;
}

.popupHeader {
    background: var(--subBackground);
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    font-size: 1.2rem;
    font-weight: 600;
}