:root {
    --mainBackground: #32527b;
    --subBackground: #ee7171;
    --mainColor: white;
    
    --textHeader: rgba(0, 0, 0, 0.78);
    --textHeaderSize: 1.3rem;
    --textHeaderWeight: 600;
    --textSubHeader: rgba(0, 0, 0, 0.68);
    --textHeaderSize: 1.1rem;
    --textHeaderSubTitleSize: 1rem;
    --textRegular: rgba(0, 0, 0, 0.55);
    --textRegularSize: 1rem;
    --maxWidthOnPC: 550px;

    --accent: #4269E2;
    --primary: #2196f3;
    --halfPrimary: #7994E7;
    --secondary: #F0F4FF;
    --additional: #F2F2F2;
    --white: white;
    --black: black;
    --gray5: #F9F9F9;
    --gray4: #F2F2F2;
    --gray2: #D6D6D6;
    --gray1: #7C7C7C;

    --roundBorderSmall: 6px;
    --roundBorder: 12px;
    --roundBorderLarge: 16px;

    /* font sizes */
    --size21: 2.2rem;
    --size17: 1.4rem;
    --size16: 1.3rem;
    --size15: 1.2rem;
    --size13: 1rem;
    --size12: 0.9rem;
    --size11: .8rem;

    /* padding */
    --regPadding: 16px;

    /* shadows */
    --mediumShadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    background: #e8e8e8;
}

body {
    direction: rtl;
}

.page {
    width: 100%;
    height: 100%;
}


.wrapperAll {
    position: relative;
    margin: auto;
    max-width: var(--maxWidthOnPC);
    padding: 10px;
}

.wrapper {
    max-width: var(--maxWidthOnPC);
    margin: 20px auto 20px auto;
    position: relative;
    /* z-index: 2; */
}

.card {
    background: white;

    border-radius: 3px;
    direction: rtl;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
}

.card h2 {
    color: var(--black);
    font-size: var(--size15);
}

.title{
    font-size: var(--size21);
    background-color: var(--primary);
    color: white;
    padding: 20px;
    border-radius: 0px 0px var(--roundBorder) var(--roundBorder);
    margin: 0px auto;
    box-sizing: border-box;
    width: 50vw;
    max-width: 600px;
    word-wrap: break-word;
}

@media (max-width: 600px) {
    .title{
        width: 80vw;
    }
  }

.card p {
    color: var(--gray1);
    font-size: var(--size13);
}

.cardTitle {
    color: var(--textHeader);
    font-size: var(--textHeaderSize);
    font-weight: var(--textHeaderWeight);
    margin-bottom: 10px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.cardDescription {
    color: var(--textSubHeader);
    font-size: var(--textSubHeaderSize);
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none;
}

.centerElement {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerInput {
    max-width: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}

.newElementShow {
    animation-name: showUp;
    animation-duration: 1s;
}

@keyframes showUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.headers {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 900;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 100;
}

.navSubHeaders {}

.cardsContainer {
    margin-top: 85px;
}

/*  Buttons */
.buttonsBox{
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttons {
    width: max-content;
    padding: 12px 25px;
    margin: 5px 10px;
    background: var(--accent);
    color: white;
    border: none;
    border-radius: 5px;
    /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); */
    user-select: none;
    cursor: pointer;
}

.buttons--small{
    font-size: var(--size11);
    padding: 5px 7px;
}

.buttons--cancel {
    
    background: orange;
  
}

.buttons--nonactive{
    opacity: .3;
}

.buttons:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.buttonOutlineWhite {
    background: none;
    border: 1px solid white;
}

.buttonOutlineWhite:active {
    background: rgba(255, 255, 255, 0.191);
}

.buttonOutlineGray {
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgb(63, 63, 63);
    color: rgb(63, 63, 63) ;
}

.buttonOutlineGray:hover {
    background: rgb(126 122 122 / 21%);
}

.confirm {
    background: #51d051;
}

.cancel {
    background: #e85353;
}

.negative {
    color: red;
}

.fav {
    background: var(--halfPrimary);

    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 6vw;
    bottom: 6vh;
    border-radius: 50%;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    user-select: none;
    cursor: pointer;
    z-index: 5;
}

.fav:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fav>div {
    transform: scale(1);
    color: white;
    text-align: center;
    font-size: 3rem;
    background: var(--accent);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    /* right: 50%; */
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fav--blink {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: blinkFav 200ms ease-in-out 0s 35 alternate;
}

@keyframes blinkFav {
    from {

        transform: scale(1);

    }

    to {
        transform: scale(.9);
    }
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0%;
    width: 100%;
    background: var(--subBackground);
    color: white;
    display: flex;

    justify-content: stretch;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.5);
    z-index: 4;
}

.footerButton {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    padding: 11px;
    background-color: var(--white);

}

.footerButton>div {
    font-size: var(--size11);
    color: var(--gray1);
}

.footerButtonSelected {
    background: var(--gray2);
}

.checkBoxes [type="checkbox"] {
    transform: scale(1.5);
    margin-left: 10px;
}

.checkBoxes label {
    font-size: 1.5rem;
    margin-left: 20px;
}

.popupHeader {
    background: var(--subBackground);
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Inputs */

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs>* {
    margin-bottom: 10px;
    resize: none;
}

.inputDescription {
    height: 4rem;
}

.inputGeneral{
    border-radius: var(--roundBorderSmall);
    background-color: var(--gray5);
    font-size: var(--size15);
    border:none;
    padding: var(--regPadding);
}

input[type=checkbox] {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    padding: 10px;
}

.feedWrapper {
    max-width: var(--maxWidthOnPC);
    display: flex;
    flex-direction: column;
}

.scroll {
    overflow-y: auto;
}

.background{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.397);
    backdrop-filter: blur(7px);
    
}

/* Slider */
.sliderRange {
   

    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    margin: 0px 5px;
  }
  .sliderRange:focus {
    outline: none;
  }
  .sliderRange::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    /* box-shadow: 1px 1px 1px #000000; */
    background: #afafaf;
    border-radius: 1px;
    /* border: 0px solid #010101; */
  }
  .sliderRange::-webkit-slider-thumb {
    /* box-shadow: 1px 1px 1px #000031; */
    /* border: 1px solid #00001E; */
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: var(--accent);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }
  .sliderRange:focus::-webkit-slider-runnable-track {
    background: #afafaf;
  }
  .sliderRange::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #74A9D8;
    border-radius: 1px;
    /* border: 0px solid #010101; */
  }
  .sliderRange::-moz-range-thumb {
    /* box-shadow: 1px 1px 1px #000031; */
    /* border: 1px solid #00001E; */
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: var(--accent);
    cursor: pointer;
  }
  .sliderRange::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  .sliderRange::-ms-fill-lower {
    background: #afafaf;
    /* border: 0px solid #010101; */
    border-radius: 2px;
    /* box-shadow: 1px 1px 1px #000000; */
  }
  .sliderRange::-ms-fill-upper {
    background: #afafaf;
    /* border: 0px solid #010101; */
    border-radius: 2px;
    /* box-shadow: 1px 1px 1px #000000; */
  }
  .sliderRange::-ms-thumb {
    margin-top: 1px;
    /* box-shadow: 1px 1px 1px #000031; */
    /* border: 1px solid #00001E; */
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: var(--accent);
    cursor: pointer;
  }
  .sliderRange:focus::-ms-fill-lower {
    background: #afafaf;
  }
  .sliderRange:focus::-ms-fill-upper {
    background: #afafaf;
  }