.splashPage {
    background: var(--mainBackground);
    color: var(--mainColor)
}

#splashName {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#splashSubName {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.loginButton {
    background: white;
    color: red;
    display: flex;
    position: relative;
   
}

.loginButton>div {
    margin: auto;
    font-size: 1.2rem;
}

.anonymousLogin {
    width: fit-content;
    margin: 40px auto;
}

.inputLogin {
    background: #ffffff00;
    border: 1px solid transparent;
    border-bottom: 1px solid wheat;
    color: white;
    font-size: 1.5rem;
    font-family: 'Varela Round', sans-serif;
}

.inputLogin::placeholder {
    color: white;
}