.groupCard {
    user-select: none;
    cursor: pointer;
    display: grid;
    grid-template-rows: auto 60px;
    border-radius: var(--roundBorder);
}

.groupCard__img{
    height: 250px;
    border-radius: var(--roundBorder);
}

.groupImg{
    width: 120px;
    max-height: 120px;
}

.questionOwned{
    background: #ef4a497d;
}


