.groupCard {
    user-select: none;
    cursor: pointer;
    display: flex;
    
    border-radius: var(--roundBorder);
    
    box-shadow: var(--mediumShadow);
}

.groupCard__img{
    height: 100%;
    width:120px;
    border-radius: var(--roundBorder);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 1px;
    background-position: center;
}
.groupCard__info{
    width: auto;
    margin-right: 10px;
}
.groupCard__info h2{
    font-size: var(--size15);
    color: var(--black);
}

.groupCard__info p{
    font-size: var(--size13);
    color:var(--gray1)
}


/* .questionOwned{
    background: #ef4a497d;
} */



